<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="cordova-plugin-sumup"
      version="1.1.0">
    <name>SumUp</name>
    <author>nuvoPoint</author>
    <description>
        Cordova plugin for integration with SumUp SDK
    </description>
    <license>MIT</license>
    <repo>https://github.com/nuvoPoint/cordova-plugin-sumup.git</repo>
    <issue>https://github.com/nuvoPoint/cordova-plugin-sumup/issues</issue>
    <keywords>
      sumup, cordova, phonegap, cordova:ecosystem, phonegap:ecosystem
    </keywords>
    
    <!-- android -->
    <platform name="android">
        <preference name="SUMUP_API_KEY" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SumUp" >
                <param name="android-package" value="com.nuvopoint.cordova.sumup.SumUp" />
            </feature>
        </config-file>
        <config-file target="./res/values/strings.xml" parent="/resources">
            <string name="SUMUP_API_KEY">$SUMUP_API_KEY</string>
        </config-file>
        <source-file src="src/android/SumUp.java" target-dir="src/com/nuvopoint/cordova/sumup" />
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SumUp">
                <param name="ios-package" value="CDVSumUp"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>To provide a secure service, we need to know your location. Without location information, you cannot use SumUp.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>The app needs to connect to Bluetooth peripherals to detect the SumUp Card Terminal correctly. Please confirm with OK as you cannot use your card reader otherwise.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>The app needs to access the microphone of your audio jack in order for the SumUp Card Reader to be detected correctly. Please confirm with OK as you cannot use your card reader otherwise.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationUsageDescription">
            <string>To provide a secure service, we need to know your location. Without location information, you cannot use SumUp.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>To be able to upload images, please allow the app access to your photo library.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="SUMUP_API_KEY">
            <string>$SUMUP_API_KEY</string>
        </config-file>
        <header-file src="src/ios/CDVSumUp.h" />
        <source-file src="src/ios/CDVSumUp.m" />
        <preference name="SUMUP_API_KEY" />
        <framework src="SumUpSDK" type="podspec" spec="~> 3.0.0" />
    </platform>
</plugin>